{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Authentification -->
    <div class="authentification" style="background-image: none; background-color: dimgrey" ng-controller="forgotPasswordCtrl">


        <div class="jumbotron"  ng-cloak>
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">

                            <div id="titreBienvenue">
                                <h1><strong>
                                        <div class="notif-row" style="margin-bottom: -20px; margin-right: -50px">
                                        <div>
                                        <img ng-src="{{ asset('img/happystudent.png') }}"
                                                 width="150"
                                                 height="110"
                                                 style="margin-left: -90px">
                                        </div>
                                        <div style="margin-left: -30px">3iCours</div></div></strong></h1>
                             </div>

{##########################################################}

                            <div class="card card-container" ng-class="{'bg-end': showEnd}">
                                <!-- Form1 -->
                                <form class="form-signin" id="formAuthentification" name="formAuthentification" ng-if="showReset">
                                    <div>
                                        <input type="email" id="inputEmail" name="email" ng-model="userEmail" class="form-control"
                                               autocomplete="on" placeholder="Email" required>
                                        <div class="alert alert-danger" role="alert" ng-if="showEmailError">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <span>Ce mail n'existe pas.</span>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block btn-signin "
                                                ng-class="{draw: chargementEnCours}"
                                                style="margin-left: -1px"
                                                title="Cliquez ici pour réinitialiser votre mot de passe."
                                                type="submit"
                                                ng-click="reset(userEmail)">Réinitialiser
                                        </button>
                                        <div class="forgot-password"><a href="http://localhost:8000/">Annuler</a></div>
                                    </div>

                                </form>
                                <div style="font-size: 13pt; text-align: center " ng-show="showEnd">
                                    <h3>Email envoyé!</h3>
                                    <h5>Nous vous avons envoyé un courriel avec des instructions pour réinitialiser votre mot de passe.</h5>
                                    <h5>Assurez-vous qu'il ne s'est pas retrouvé dans votre courrier indésirable. Si vous ne recevez rien,
                                        veuillez réessayer ou <a href="mailto:kamdeme@3il.fr" style="text-decoration: none; color: lightgrey">nous contacter.</a></h5>
                                </div>
                                <a href="http://localhost:8000/" style="text-decoration: none; color: inherit">
                                <div class="card card-container" ng-show="showEnd">
                                    <h4 style="text-align: center;" >Compris!</h4>
                                </div></a>
                            </div>



                            {##########################################################}



                        </div>


                        <div class="col-md-1"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {#End Authentification#}

{% endblock %}

