{% extends 'base.html.twig' %}

{% block body %}
<body class="jumbotron"> 
<header style="margin-top: -70px;">
    <div >
        <nav class="navbar navbar-inverse navbar-fix navbar-default ">
            <div class="container">
                <div class="navbar-header" >
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a class="navbar-brand" href="?controller=apropos&action=apropos"><img src="img/3ischool_logo.png" height="40" width="130" style="margin-top: 3px; margin-right: -20px; margin-left: -60px;"></a></li>

                            <li><a>
                                    <form id="custom-search-input" style="display: inline-block; max-width: 750px">
                                        <div class="input-group col-md-12">
                                            <input type="text" class="  search-query form-control" placeholder="Recherche un cours, un TD, un TP et plus" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" >
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                        </div>
                                    </form></a>
                            </li>
                        </ul>
                    </div>

                </div>




                <ul class="nav navbar-nav navbar-right" >
                    <li id="notification_li">
                        <span id="notification_count" hidden></span>
                        <a href='?controller=utilisateur&action=posterpensee' class="header-text" id="notificationLink"><i class="material-icons">notifications</i></a>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Notifications</div>
                            <div id="notificationsBody" class="notifications scroll">
                                <ul class="nav" id="notifications-ul">

                                </ul>
                            </div>
                            <div id="notificationFooter"><a href="#" class="notif-link-footer"><i class="material-icons">sentiment_satisfied</i></a></div>
                        </div>
                    </li>
                    <li>
                        <a href='?controller=utilisateur&action=posterpensee' class="header-text">Accueil</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; color:dimgrey;" onmouseover="this.style.color='#1e90fe';this.style.color='#1e90fe';" onmouseout="this.style.background='';this.style.color='dimgrey';">
                            Edgar<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href='?controller=profil&action=suggestion'>Profil</a></li>
                            <li><a href="?controller=utilisateur&action=deconnecter">Se Déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Welcome to 3iSchool</h1>
            </div>
        </div>
    </div>
{% endblock %}

