{% extends 'base.html.twig' %}

{% block body %}
    <div class="preloader" ng-show="chargementEnCours">
        <div class="msg-preloader">
            <img ng-src="{{ asset('img/preloader.gif') }}"/>
        </div>
    </div>
    <div class="jumbotron" > 

        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid" >
                    <div class="navbar-header">
                        <button style="background-color: red" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div  class="navbar-brand">
                            <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle" style="color: red">

                            </a>
                            <a ng-href="/"><img ng-src="img/3ischool_logo.png" height="30" width="130" style="margin-top: -4px">   </a>
                        </div>
                    </div>

                    <div id="navbar" class="collapse navbar-collapse" style="border-top: none">
                        <ul class="nav navbar-nav navbar-justified">
                            <li>
                                <form id="custom-search-input" role="search">
                                    <div class="input-group col-md-12">
                                        <input type="search"
                                               ng-model="rechercheContenu"
                                               class="search-query form-control"
                                               placeholder="Recherchez un cours, un TD, un TP et plus dans cette promotion"
                                               ng-keydown="showSearch()"/>
                                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" >
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="margin-top: -6px">

                            <li id="notification_li" >
                                <span id="notification_count" hidden></span>
                                <a href='?controller=utilisateur&action=posterpensee' class="header-text" id="notificationLink"><i class="material-icons">notifications</i></a>
                                <div id="notificationContainer">
                                    <div id="notificationTitle">Notifications</div>
                                    <div id="notificationsBody" class="notifications scroll">
                                        <ul class="nav" id="notifications-ul">

                                        </ul>
                                    </div>
                                    <div id="notificationFooter"><a href="#" class="notif-link-footer"><i class="material-icons">sentiment_satisfied</i></a></div>
                                </div>
                            </li>
                            <li >
                                <a href='?controller=utilisateur&action=posterpensee' class="header-text">Accueil</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 5px; color:dimgrey;" onmouseover="this.style.color='#1e90fe';this.style.color='#1e90fe';" onmouseout="this.style.background='';this.style.color='dimgrey';">
                                    edgar@3il.fr <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href='?controller=profil&action=suggestion'>Profil</a></li>
                                    <li><a href='?controller=profil&action=suggestion'>Tableau de Bord</a></li>
                                    <li><a href="?controller=utilisateur&action=deconnecter">Se Déconnecter</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </nav>
            <!-- Sidebar -->
            <div id="sidebar-wrapper" ng-show="!chargementEnCours">
                <div class="left" >
                    <ul class="courses " style="margin-top: 15px !important; ">
                        <div class="side-menu-head"> Promotion</div>
                        <div class="caption-item-content" >
                            <div class="sel1" style="width: 50%; margin: 10px">
                                <select class="form-control "  >
                                    <option value="1">3iL-Prepa1</option>
                                    <option value="2">3iL-Prepa2</option>
                                    <option value="3">3iL-I1</option>
                                    <option value="4">3iL-I2</option>
                                    <option value="5">3iL-I3</option>
                                    <option value="6">3iL-I3+</option>
                                    <option value="7">CS2I-Bachelor1</option>
                                    <option value="8">CS2I-Master1</option>
                                    <option value="9">CS2I-Master2</option>
                                    <option value="10">CS2I-Master2+</option>
                                </select>
                            </div>
                            <div class="sel1" style="width: 50%; margin: 10px" >
                                <select class="form-control ">
                                    <option>2013</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                </select>
                            </div>
                        </div>
                    </ul>

                    <ul class="courses " style="margin-top: 15px !important;">
                        <div class="side-menu-head">Matières</div>
                        <li ng-cloak><a  ng-class="{active: rubriqueCourante=='Tous'}" ng-click="selectionRubrique('Tous')" href="#home"><img ng-src="{{asset('img/All.png')}}" class="side-menu-image">Tous</a></li>
                        <li ng-repeat="unConteneur in groupesContenus.CONTENEUR | unique:'contenu.rubrique.id'" ng-cloak>
                            <a  ng-if="unConteneur.contenu.rubrique.groupeRubrique.libelle =='Matière'"
                                ng-class="{active: unConteneur.contenu.rubrique.libelle == rubriqueCourante}"
                                ng-href="#!/rubriques/{[{unConteneur.contenu.rubrique.libelle}]}"><img ng-src="{{ asset('{[{unConteneur.contenu.rubrique.imageRoot}]}') }}" class="side-menu-image">
                                {[{unConteneur.contenu.rubrique.libelle | limitTo:25}]}
                            </a>

                        </li>
                    </ul>



                    <ul class="courses">
                        <div class="side-menu-head">Profs</div>
                        <li><a href="#home"><img ng-src="img/baillargeat.png" class="prof-image">Baillargeat</a></li>
                        <li><a href="#news"><img ng-src="img/belabdelhi.png" class="prof-image">Belabdelhi</a></li>
                        <li><a href="#about"><img ng-src="img/duvalet.png" class="prof-image">Duvalet</a></li>
                        <li><a href="#about"><img ng-src="img/frigui.png" class="prof-image">Frigui</a></li>
                        <li><a href="#about"><img ng-src="img/granet.png" class="prof-image">Granet</a></li>
                        <li><a href="#about"><img ng-src="img/mifdal.png" class="prof-image">Mifdal</a></li>
                        <li><a href="#about"><img ng-src="img/ruchaud.png" class="prof-image">Ruchaud</a></li>
                    </ul>

                    <ul class="courses">
                        <div class="side-menu-head">Administration</div>
                        <li><a href="#home"><img ng-src="img/important.png" class="side-menu-image">Annonces Importantes</a></li>
                        <li><a href="#news"><img ng-src="img/international.png" class="side-menu-image">International</a></li>
                        <li><a href="#contact"><img ng-src="img/internship.png" class="side-menu-image">Infos Stage</a></li>
                        <li><a href="#about"><img ng-src="img/entreprise.png" class="side-menu-image">Entreprises</a></li>
                    </ul>

                    <ul class="courses" style="margin-bottom: 90px">
                        <div class="side-menu-head">Divers</div>
                        <li><a href="#home"><img ng-src="img/bde.png" class="side-menu-image">BDE</a></li>
                        <li><a href="#news"><img ng-src="img/question.png" class="side-menu-image">Questions Importantes</a></li>
                    </ul>
                </div>
            </div>
            <!-- Page content -->
            <div id="page-content-wrapper" ng-show="!chargementEnCours" ng-cloak>
                <div class="page-content">
                    <div class="container-fluid">
                        {#A modifier avec ng-model#}
                        <div class="alert alert-info" ng-if="!hideSearch">{[{contenusFiltres.length}]}
                            <span ng-if="contenusFiltres.length<2">contenu trouvé</span>
                            <span ng-if="contenusFiltres.length>=2">contenus trouvés</span></div>
                        <div class="row">

                            <div class="span12">
                                {#Début Affichage de contenus courant concernant une rubrique cliquée#}
                                <div>




                    <contenus-rubrique
                            ng-repeat="unConteneur in conteneurs | orderBy:'-datePublication'"
                            ng-show="unConteneur.contenu.rubrique.libelle==rubriqueCourante && hideSearch"
                            conteneur="unConteneur"></contenus-rubrique>

                                    {#Exclusivily for the search#}
                    <contenus-rubrique
                            ng-repeat="unConteneur in contenusFiltres = (groupesContenus.CONTENEUR | filter: rechercheContenu) | orderBy:'-datePublication'"
                            ng-if="!hideSearch"
                            conteneur="unConteneur"
                            recherche="rechercheContenu"></contenus-rubrique>
                                    {#End of the search#}

                                </div>
                                {#Fin Affichage de contenus concernant une rubrique#}

                                {#Début Affichage de tous les éléments#}
                                <data-owl-carousel ng-show="rubriqueCourante=='Tous' && hideSearch">

                                    <div class="aside-menu-head">Favoris</div>

                                    <data-owl-carousel class="owl-carousel owl-theme" >

                                        <contenus-tries owl-carousel-item=""  ng-repeat="unFavoris in groupesContenus.FAVORIS | orderBy:'-userContenus[1].nbreVue'"
                                              class="item" contenu="unFavoris">
                                        </contenus-tries>
                                    </data-owl-carousel>

                                    <div class="aside-menu-head">Récents</div>
                                    <data-owl-carousel class="owl-carousel owl-theme" >
                                        {#La date a déjà été triée côté serveur#}
                                        <contenus-tries owl-carousel-item="" ng-repeat="unRecent in groupesContenus.RECENTS"
                                                        class="item" contenu="unRecent"></contenus-tries>

                                    </data-owl-carousel >
                                    <div class="aside-menu-head">Tes camarades ont aussi consultés</div>

                                    <data-owl-carousel class="owl-carousel owl-theme" >
                                        <contenus-tries owl-carousel-item=""  ng-repeat="aussiConsulte in groupesContenus.AUSSICONSULTES | orderBy:'-nombreVueTotal'"
                                                        class="item" contenu="aussiConsulte.contenu"></contenus-tries>

                                    </data-owl-carousel >

                                </div>
                                {#Fin Affichage de tous les éléments#}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}

