{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid" ng-init="getConteneurByID({{ idConteneur }})">


        <a id="titleHead" href="" >{[{conteneurCourant.contenu.titre | limitTo:150}]}
        <span ng-if="conteneurCourant.contenu.titre.length > 150">&hellip;</span>
        </a>

    <div class="row rowLectureContenu">
        <div class="col-sm-12 col-md-8 col-lg-8 no-float" style="padding: 0 !important; border: 1px solid lightgrey" ng-show="!questionFullscreen" >{#change made#}
            <iframe ng-src="{[{contenuURL}]}" style="border: none;"></iframe>

        </div>
        <div ng-class="{'hidden-sm hidden-xs col-md-4 col-lg-4  no-float': !questionFullscreen}" style=" padding:0; border: 1px solid lightgrey; height: 100%">{#change made here class="hidden-sm hidden-xs col-md-4 col-lg-4  no-float"#}
            <div class="panel panel-default noborder" style="height: 100%!important; width: 100%!important ">
                <div class="panel-heading noborder">
                    <span ng-if="questionDetailFullscreen == null && newQuestion==null">QUESTIONS</span>
                    <span ng-if="questionDetailFullscreen != null">DETAILS DE LA QUESTION</span>
                    <span ng-if="newQuestion!=null">MA QUESTION</span>
                    <a href="#/back" id="back-left" style="text-decoration: none; color: inherit"><div class="arrow-back"  ng-if="questionDetailFullscreen != null || newQuestion!=null"><i class="material-icons">arrow_back</i></div></a>
                    <div  class="zoom-panel" ng-click="zoom()" ng-if="!questionFullscreen"><i class="material-icons">zoom_in</i></div>
                    <div  class="zoom-panel" ng-click="zoom()" ng-if="questionFullscreen"><i class="material-icons">zoom_out</i></div>
                </div>

                <div ng-class="{'scroll-lgpanel': questionFullscreen, 'scroll-smpanel': !questionFullscreen}"
                     class="container-fluid question-panel padding-smpanel"
                     ng-show="questionDetailFullscreen == null"> {#Change made for hidden#}
                    <div class="row">
                        <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                        <div ng-class="{'col-sm-10 col-md-8 col-lg-6': questionFullscreen}" class=" panel-body noborder " style="box-shadow: none !important; ">
                            <div ng-show="newQuestion==null">
                                <a style="">
                                    <form class="padding-question-search" style="display: inline-block; width: 100%">
                                        <div class="input-group col-md-12">
                                            <input type="search"
                                                   class="  search-query form-control"
                                                   ng-model="rechercheQuestion"
                                                   placeholder="Recherche une question sur ce contenu"/>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                        </div>
                                    </form>
                                </a>
                            </div>
                            <div ng-show="newQuestion==null">

                                <a href="#/newQuestion">
                                <div class="padding-question-search">
                                    <button type="button" class="btn btn-question">Poser une nouvelle question</button>
                                </div>
                                </a>
                                <div class="question-page" style="margin-left: 8px; font-size: 10pt">{[{questionsTrouvees.length}]}
                                    <span ng-if="questionsTrouvees.length<2">question pour ce contenu</span>
                                    <span ng-if="questionsTrouvees.length>=2">questions pour ce contenu</span>
                                </div>
                                <table class="table" cellspacing="pixels" style=" overflow-y: auto; height: 100px;">
                                    <tr ng-repeat="uneQuestion in questionsTrouvees = (conteneurCourant.contenu.questions) | filter: rechercheQuestion| orderBy:'-datePublication'">

                                        <td>
                                            <div>
                                                <div class="m-img-profil" style="display: inline-block; margin-right: 20px"><img style="margin-bottom: -5px" ng-src="{{ asset('{[{uneQuestion.users[0].userProfilRoot}]}') }}">
                                                </div>
                                                <div style="display: inline-block;">
                                                    <div class="date-publication">le, {[{uneQuestion.datePublication | date:'dd MMMM yyyy à hh:mm'}]}
                                                    </div>
                                                    <div class="question-page"
                                                         ng-if="uneQuestion.page != null && uneQuestion.ligne!=null">page
                                                        {[{uneQuestion.page}]} - à partir de la ligne
                                                        {[{uneQuestion.ligne}]}
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#/questions/{[{uneQuestion.id}]}">
                                            <div  class="question-click">
                                                <div class="question-title expandDiv" style="font-size: 10pt !important;" ng-bind-html="uneQuestion.libelle | surbrillanceRecherche:rechercheQuestion">
                                                </div>
                                                <div class="question-explication expandDiv"
                                                     ng-bind-html="(uneQuestion.description | surbrillanceRecherche:rechercheQuestion)">
                                                </div>
                                            </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                </div>
                {#Début Poser une question#}
                <div ng-class="{'scroll-lgpanel': questionFullscreen, 'scroll-smpanel': !questionFullscreen}"
                     class="container-fluid question-panel padding-smpanel"
                     ng-show="newQuestion!=null">
                    <div class="row">
                        <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                        <div ng-class="{'col-sm-10 col-md-8 col-lg-6': questionFullscreen}" class=" panel-body noborder " style="box-shadow: none !important; ">
                            <div class="alert alert-danger" id="question-error" role="alert" ng-if="showQuestionError">

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showQuestionError=false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Erreur ! Merci de vérifier que le titre de la question : </strong>
                                <ul>
                                    <li>Se termnine par un point d'interrogation (?).</li>
                                    <li>Ne dépasse pas 150 caractères.</li>
                                    <li>Et n'est pas vide.</li>
                                </ul>
                            </div>

                            <form id="formNewQuestion" name="formNewQuestion">
                                <div class="input-group" ng-class="{shake:showQuestionError}">
                                    <span class="input-group-addon label-champ-newQuestion">Titre</span>
                                    <input type="text"
                                           class="form-control question-title"
                                           style="font-size: 11pt"
                                           name="libelle"
                                           placeholder="Qu'est ce que vous n'avez pas compris sur ce {[{sousRubriqueLibelle}]} ? Soyez spécifique."
                                           ng-model="newQuestion.libelle" required/>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon label-champ-newQuestion">Page</span>
                                    <input type="number" class="form-control" name="page" min="1" max="1000" ng-model="newQuestion.page"/>
                                    <span class="input-group-addon label-champ-newQuestion">Ligne</span>
                                    <input type="number" class="form-control" name="ligne" min="1" max="1000" ng-model="newQuestion.ligne"/>
                                </div >
                                <div class="spacer ">
                                    <textarea ui-tinymce="optionTinyMCE" class="contenu-newQuestion form-control" name="description" rows="10" ng-model="newQuestion.description" required></textarea>
                                </div>
                                <div>
                                    <pre>
                                        {[{ newQuestion | json }]}
                                    </pre>
                                </div>
                                <div class="padding-question-search" style="float: right">
                                    <button ng-click="publierQuestion()" ng-disabled="formNewQuestion.$pristine" type="button" class="btn btn-primary">Publier ma question</button>
                               </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionFullscreen"></div> {#Change made for questionFullscreen#}
                </div>
                {#Fin Poser une question#}
                {# Start dupes#}
                <div
                        ng-show="questionDetailFullscreen != null"
                        ng-class="{'scroll-lgpanel': questionDetailFullscreen, 'scroll-smpanel': !questionDetailFullscreen}"
                        class="container-fluid question-panel padding-smpanel scroll-smpanel"  > {##}
                    <div class="row">
                        <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionDetailFullscreen"></div>{#hidden#}
                        <div ng-class="{'col-sm-10 col-md-8 col-lg-6': questionDetailFullscreen}"
                             class="panel-body noborder " style="box-shadow: none !important;">{##}
                            <table class="table" cellspacing="pixels" style=" overflow-y: auto;">
                                <thead>
                                <tr>
                                    <th colspan="2">


                                        <div class="date-publication"><img
                                                    ng-src="{{ asset('{[{questionSelectionnee.users[0].userProfilRoot}]}') }}"><a
                                                    href="/2/profil" class="href"> {[{questionSelectionnee.users[0].prenom}]} {[{questionSelectionnee.users[0].prenom}]}</a>
                                            , le {[{questionSelectionnee.datePublication | date:'dd MMMM yyyy hh:mm'}]}
                                        </div>
                                        <div class="question-page"
                                             ng-if="questionSelectionnee.page != null && questionSelectionnee.ligne!=null">page
                                            {[{questionSelectionnee.page}]} - à partir de la ligne {[{questionSelectionnee.ligne}]}
                                        </div>
                                        <div class="question-title">
                                            {[{questionSelectionnee.libelle}]}
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="votecell" style="vertical-align: top; ">


                                        <div class="vote" style="margin-right: -30px">

                                            <div class="check-btn-contribution">
                                                <div class="check-vote"
                                                     title="Cette question montre l'effort de recherche. Elle est utile et claire.">
                                                    <i class="fa fa-check-circle fa-2x" style="font-size: 30pt"
                                                       aria-hidden="true"></i></div>
                                                <div id="check-count">{[{questionSelectionnee.nombreDislike}]}
                                                </div>
                                            </div>

                                        </div>

                                    </td>
                                    <td class="postcell">
                                        <div>
                                            <div class="post-text"
                                                 ng-bind-html="questionSelectionnee.description">
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: none; " colspan="2">
                                        <div style="float: right; ">

                                            <a class="inutile" title="Cette question ne montre aucun effort de recherche, elle n'est pas claire ou n'est pas utile">
                                                Question inutile <i class="fa fa-flag" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: none"></td>
                                    <td style="border: none; " colspan="2">
                                        <div style="float: left;
                                                font-size: 13pt;
                                                font-weight: 400">

                                            {[{questionSelectionnee.reponses.length }]} réponses
                                        </div>
                                    </td>
                                </tr>
                                {#Debut reponse#}
                                <tbody ng-repeat="uneReponse in questionSelectionnee.reponses"
                                       class="reponse"
                                       ng-class="{'reponse-light': showDetails}">
                                <tr>
                                    <th colspan="2"  ng-class="{'reponse-enseignant': uneReponse.users[0].isPersonnel}">


                                        <div class="date-publication"><img
                                                    ng-src="{{ asset('{[{uneReponse.users[0].userProfilRoot}]}')}}"> <a
                                                    href="/2/profil" class="href">{[{uneReponse.users[0].prenom}]} {[{uneReponse.users[0].nom}]}</a>,
                                            le {[{uneReponse.datePublication | date:'dd MMMM yyyy hh:mm'}]}
                                        </div>
                                        <div style="color: #17aa1c; font-size: 13pt" ng-if="uneReponse.users[0].isPersonnel">Réponse enseignant</div>

                                    </th>
                                </tr>
                                <tr ng-class="{'reponse-enseignant': uneReponse.users[0].isPersonnel}">
                                    <td class="votecell" style="vertical-align: top; border: none">


                                        <div class="vote" style="margin-right: -30px">

                                            <div class="check-btn-contribution">
                                                <div class="check-vote"
                                                     title="Cette question montre l'effort de recherche. Elle est utile et claire.">
                                                    <i class="fa fa-check-circle fa-2x" style="font-size: 30pt"
                                                       aria-hidden="true"></i></div>
                                                <div id="check-count">{[{uneReponse.nombreLike}]}
                                                </div>
                                            </div>

                                        </div>

                                    </td>
                                    <td class="post-text"
                                        ng-bind-html="uneReponse.libelle" style="border: none">
                                    </td>
                                </tr>
                                <tr ng-class="{'reponse-enseignant': uneReponse.users[0].isPersonnel}">
                                    <td style="border: none; "></td>
                                    <td style="border: none; ">
                                        <div style="float: left" ng-click="showDetails = !showDetails">
                                            <a  class="-Ed2" ng-if="uneReponse.commentaires.length>1">
                                                Commentaires ({[{uneReponse.commentaires.length}]})
                                            </a>
                                            <a  class="-Ed2" ng-if="uneReponse.commentaires.length<=1">
                                                Commentaire ({[{uneReponse.commentaires.length}]})
                                            </a>

                                        </div>
                                        <div style="float: right; "
                                             ng-if="!uneReponse.users[0].isPersonnel">

                                            <a class="inutile" title="Cette réponse ne montre aucun effort de recherche, elle n'est pas claire ou n'est pas utile">
                                                Reponse inutile <i class="fa fa-flag" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {#Début commentaire #}
                                <tr ng-repeat="unCommentaire in uneReponse.commentaires"
                                    ng-show="showDetails">
                                    <td class="td-comment" colspan="2" >


                                        <div class="panel panel-default noborder"
                                             style="
                                         background-color: #f9f9f9;
                                          padding-top: 15px ;
                                          padding-left: 15px ;
                                          padding-right: 15px;
                                            padding-bottom: 5px;border-radius: 5px;
                                            margin-bottom: -10px;
                                            margin-top:-9px;  ">
                                            <div class="panel-body noborder">
                                                <div class="date-publication"><a
                                                            href="/2/profil" class="href"> {[{unCommentaire.users[0].prenom}]} {[{unCommentaire.users[0].nom}]}</a>,
                                                    le 16 {[{unCommentaire.datePublication | date:'dd MMMM yyyy hh:mm'}]}
                                                </div>
                                                <div style="display: flex;">
                                                    <div class="check-btn-commentaire"
                                                         title="Ce commentaire montre un effort de recherche. Il est utile et clair.">
                                                        <div class="check-vote"><i class="fa fa-check-circle fa-lg"
                                                                                   aria-hidden="true"></i></div>
                                                        <div id="check-count">{[{unCommentaire.nombreLike}]}</div>
                                                    </div>
                                                    <div class="libelle-commentaire "
                                                         ng-bind-html="unCommentaire.libelle"
                                                         style="margin-top: 5px; margin-bottom: -10px; ">
                                                    </div>

                                                </div>
                                                <div style="float: right;margin-top: 10px !important;">

                                                    <a class="inutile" title="Ce commentaire ne montre aucun effort de recherche, n'est pas clair ou n'est pas utile"
                                                       style="font-size: 10pt">
                                                        Commentaire inutile <i class="fa fa-flag"
                                                                               aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <form style="margin-top: 9px;" class="form-inline"
                                              ng-if="unCommentaire.id == uneReponse.commentaires[uneReponse.commentaires.length-1].id">
                                            <div class="row">
                                                <div class="hidden-xs col-sm-9 col-md-9 col-lg-9 nopadding-textarea">
                                                <textarea class="form-control"  rows="1"  style="width: 100%; min-height: 47px"
                                                          Placeholder = "Utilisez les commentaires pour demander plus d'informations ou suggérer des améliorations. Évitez de répondre aux questions dans les commentaires."></textarea>
                                                </div>
                                                <div class="hidden-xs col-sm-3 col-md-3 col-lg-3 nopadding-button">
                                                    <button style="width: 100%" type="submit" class="btn btn-question">
                                                        Commenter
                                                    </button>
                                                </div>
                                                <div class="col-xs-12 hidden-sm hidden-md hidden-lg " >
                                                <textarea class="form-control"  rows="1"  style="width: 100%; min-height: 47px"
                                                          Placeholder = "Utilisez les commentaires pour demander plus d'informations ou suggérer des améliorations. Évitez de répondre aux questions dans les commentaires."></textarea>
                                                </div>
                                                <div class="col-xs-12 hidden-sm hidden-md hidden-lg " >
                                                    <button style="width: 100%" type="submit" class="btn btn-question">
                                                        Commenter
                                                    </button>
                                                </div>
                                            </div>
                                        </form>


                                    </td>
                                </tr>
                                {#Fin commentaire #}
                                {#Fin reponse#}
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>

                                <tr>

                                    <td colspan="2">

                                        <form>
                                            <input type="text" class="form-control"
                                                   placeholder="Ajouter une réponse">
                                        </form>

                                    </td>
                                </tr>

                                </tbody>
                            </table>

                        </div>
                        <div class="col-sm-1 col-md-2 col-lg-3" ng-if="questionDetailFullscreen"></div>{#hidden#}
                    </div>
                </div>
                {# End dupes #}

            </div>

        </div>
    </div>
    <i class="material-icons comment-footer"
       title="Donnez un avis expliqué et constructif sur ce cours">comment</i>
    <i class="fa fa-heart fa-1x like-footer " aria-hidden="true"
       title="Les concepts de ce cours sont expliqués clairement"></i>
    <i class="material-icons question-answer-footer  hidden-md hidden-lg"
       title="Faire apparaître ou disparaître le panneau de questions"
       ng-click="displayQuestionOnMobile()">question_answer</i>
{% endblock %}