{# app/Resources/views/Emails/registration.html.twig #}
<h3>Vous l'avez fait! Vous êtes inscrit!</h3>

Bonjour {{ name }}! Juste besoin de vérifier que c'est votre adresse e-mail. Est-ce vous?

{# example, assuming you have a route named "login" #}
<a href="{{ url('verifyEmail') }}">C'est bien moi</a>.

Merci :)

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('img/libre_logo.png')) }}">