
<div><span
            style="
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #424242">Mot de passe oublié?</span> <span>Réinitialisez le en cliquant ci-dessous:</span></div>


<h2>
    <a style="display:inline-block;width:100%;
    background-color:rgba(240, 79, 15, 0.29);
    text-decoration:none;
    color:#e84e0f;
    font-size:18px;
    font-weight:bold;
    text-align:center;padding:15px 0px 15px 0px;border-radius:2px"
    href="https://www.3ilcours.fr/reset/{{userID}}/{{validationCode}}" >Réinitialiser mon Mot de passe</a>
</h2>

<img src="{{ absolute_url(asset('img/happystudent.png')) }}" height="100" width="120">