{% extends 'base.html.twig' %}

{% block body %}

    <!-- Page Authentification -->
    <div class="authentification" style="background-image: none; background-color: dimgrey" ng-controller="forgotPasswordCtrl">


        <div class="jumbotron"  ng-cloak>
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>

                        <div class="col-md-10">

                            <div id="titreBienvenue">
                                <h1><strong>
                                        <div class="notif-row" style="margin-bottom: -20px">
                                            <div>
                                                <img ng-src="{{ asset('img/happystudent.png') }}"
                                                     width="150"
                                                     height="110"
                                                     style="margin-left: -90px">
                                            </div>
                                            <div style="margin-left: -30px">FasttCourse</div></div></strong></h1>
                            </div>

                            {##########################################################}

                            <div class="card card-container" ng-class="{'bg-end': showEnd}">
                                <!-- Form1 -->
                                <form class="form-signin" id="formAuthentification" name="formAuthentification" ng-if="showReset">
                                    <div>
                                        <div class="input-append">
                                            <input type="email" id="inputPassword" name="email" class="form-control" ng-model="temp.email" disabled>
                                            <div class="alert alert-danger" role="alert" ng-if="(showErrorShortPassword || showErrorLongPassword)">

                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <span ng-if="showErrorShortPassword">Le mot de passe est trop court</span>
                                                <span ng-if="showErrorLongPassword">Le mot de passe est trop long</span>
                                            </div>
                                            <input type="password" id="inputPassword" name="plainPassword" ng-model="user.plainPassword"
                                                   class="form-control" placeholder="Nouveau mot de passe" required>
                                            <input type="password" id="inputPassword" name="plainPassword" ng-model="user.plainPassword"
                                                   class="form-control" placeholder="Confirmer le mot de passe" required>
                                        </div>
                                        <button class="btn btn-lg btn-primary btn-block btn-signin"
                                                ng-class="{draw: chargementEnCours}"
                                                ng-click="clicMAJPassword()"
                                                type="submit">
                                            Créer un mot de passe
                                        </button>
                                    </div>

                                </form>

                            </div>



                            {##########################################################}



                        </div>


                        <div class="col-md-1"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    {#End Authentification#}

{% endblock %}

