
<div class="modal-header" ng-mouseleave="close()">
    <h5 class="modal-title">Activité de connexion de l'étudiant <b>kamdeme</b></h5>
    <div>Contenu: Storyteller Sit-downs: Jillian Eugenios12</div>
</div>

<div class="modal-body" >
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-series="series" chart-options="options"
            chart-dataset-override="datasetOverride" chart-click="onClick">
    </canvas>
</div>
<div class="modal-footer" ng-click="close()">Fermer</div>