<div class="container">

    <div class="row questions" >

        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2" ></div>
        <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 col-xs-12  panel poster" style="position: inherit">
            <div>
                <ul class="nav nav-tabs" style=" margin-left: -16px;">
                    <li class="active"><a href="#">Question</a></li>
                    <li><a href="#">Réponse</a></li>
                    <li><a href="#">Commentaire</a></li>
                </ul>
            </div>
            <table class="table" cellspacing="pixels" style=" overflow-y: auto; height: 100px;" >
                <tr >

                    <td colspan="5">
                        <div style="font-size: 16pt">
                            2 Questions
                        </div>

                    </td>
                </tr>
                <tr >

                    <th>Question</th>

                    <th>Auteur</th>
                    <th>Signalé</th>

                </tr>
                <tr>
                    <td>
                        <div><a style="text-decoration: none; font-size: 13pt;">AngularJS - Can't sorted DateTime with ngRepeat orderBy?</a></div>
                        <div style="font-size: 9pt; color: grey;"><span>Du contenu: </span><i>Storyteller Sit-downs: Jillian Eugenios12</i></div>
                    </td>
                   <td><span style="font-size: 9pt; color: grey;">20 Dec 2016 à 08:24 </span><a style="text-decoration: none;">Slava Utesinov</a></td>
                    <td style="text-align: center; font-size: 13pt; color: red"><b>4</b></td>

                </tr>
                <tr>
                    <td>
                        <div><a style="text-decoration: none; font-size: 13pt;">How to get Webpack, Wordpress, and BrowserSync to work together?</a></div>
                        <div style="font-size: 9pt; color: grey;"><span>Du contenu: </span><i>There’s Jelly in Your Google0.</i></div>
                    </td>
                   <td><span style="font-size: 9pt; color: grey;">20 Dec 2016 à 08:24 </span><a style="text-decoration: none;">Slava Utesinov</a></td>
                    <td style="text-align: center; font-size: 13pt; color: red"><b>8</b></td>

                </tr>
                <tr>
                    <td colspan="5">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-lg" placeholder="Trouvez les contenus signalés d'un autre enseignant" />
                                <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


        </div>

        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 "></div>
    </div>
</div>