<div>
    <div class="panel panel-default course-pointer">
        <a target="_blank" href="/lectureContenu/{[{contenu.conteneurID}]}">
            <div class="panel-heading">
                <div class="panel-heading image" data-content="{[{contenu.description}]}">
                <img ng-src="{{ asset('{[{contenu.imageRoot}]}') }}" class="img-wrapper " />
                </div>
            </div>
        </a>
        <div class="caption-wrapper">
            <div class="title-course">{[{contenu.titre | limitTo:50}]}
                <span ng-if="contenu.titre.length > 50">&hellip;</span>
            </div>
            <div class="course">{[{contenu.libelle_rubrique | limitTo:25}]}
                <span ng-if="contenu.libelle_rubrique.length > 25">&hellip;</span>
                <div style="float: right;display: inline-block">{[{contenu.libelle_sousRubrique}]}</div>
            </div>
            <div style="display: flex">
                <div style="color: orangered;" >
                    <ng-rate-it
                            style="margin-top: 3px; margin-left: -1px;"
                            read-only="true"
                            class="custom"
                            cancel-width="1"
                            cancel-height="1"
                            ng-model="contenu.note"
                    ></ng-rate-it>
                </div>

            </div>
            <div class="caption-item-content">
                <div hidden ><h3>{[{contenu.nbreVue}]}</h3></div>
                <div class="course-view">{[{contenu.nombreVueTotal}]} vues</div>
                <div class="course-date">{[{contenu.datePublication | date:'dd MMM yyyy à HH:mm'}]}</div>
            </div>
        </div>
    </div>
</div>