<div>
<div  class="panel">
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-md-1"></div>
        <div class="col-xl-3 col-lg-3 col-md-3 ">
            <div class="row">
                <div class="col-sm-3 "></div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 ">
                    <div class="panel panel-default course-pointer">
                        <a target="_blank" href="http://localhost:8000/lectureContenu/{[{contenu.id}]}">
                            <div class="panel-heading">
                                <div class="panel-heading image" data-content="{[{contenu.description}]}">
                                <img ng-src="{{ asset('{[{contenu.imageRoot}]}') }}" class="img-wrapper " />
                                    </div>
                            </div>
                        </a>
                        <div class="caption-wrapper">
                            <div class="title-course" ng-bind-html="contenu.titre | limitTo:40">
                                <span ng-if="contenu.titre.length > 40">&hellip;</span>
                            </div>
                            <div class="course"><span ng-bind-html="contenu.libelle_rubrique | limitTo:25"></span>
                                <span ng-if="contenu.libelle_rubrique.length > 25">&hellip;</span>
                                <div style="float: right;display: inline-block"
                                     ng-if="contenu.libelle_sousRubrique != null"
                                     ng-bind-html="contenu.libelle_sousRubrique | surbrillanceRecherche:recherche"></div>
                            </div>
                            <div style="display: flex">
                                <div style="color: orangered;" >
                                    <ng-rate-it
                                            style="margin-top: 3px; margin-left: -1px;"
                                            read-only="true"
                                            class="custom"
                                            cancel-width="1"
                                            cancel-height="1"
                                            ng-model="contenu.note">
                                    </ng-rate-it>
                                </div>
                                <div style="margin-left: 18px; color: orangered;">
                                    {[{contenu.nombreLike}]}
                                </div>
                            </div>
                            <div class="caption-item-content">
                                <div class="course-view">{[{contenu.nombreVueTotal}]} vues</div>
                                <div class="course-date">{[{contenu.datePublication | date:'dd MMM yyyy à HH:mm'}]}</div>
                            </div>
                        </div>
                    </div>
                    <div style="color: slategrey;"><b>Promotion: </b>{[{contenu.niveauLibelle}]} / {[{contenu.anneeLibelle}]} / G{[{contenu.groupeLibelle}]}</div>
                </div>

                <div class="col-sm-3"></div>
           </div>

        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12  panel ">
            <h3 style="text-align: center"><b>Rapport Global des visites</b></h3>
            <div >
                <canvas id="line" class="chart chart-line" chart-data="data" height="300"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
            <table class="table vu-detail " cellspacing="pixels"  >
                <tr>
                    <td colspan="4">
                        <h3><b>Rapport des visites par étudiant</b></h3>
                    </td>
                </tr>
                <tr style="background:ghostwhite;">
                    <th>Visiteur</th>
                    <th>Visité</th>
                    <th>Durée (min)</th>
                    <th>Avis</th>
                    <th>Note</th>
                </tr>
                <tr ng-repeat="userVisiteur  in userContenuByContenu">
                    <td><a style="text-decoration: none;"
                           target="_blank"
                           href="http://localhost:8000/3il/{[{userVisiteur.user.email | substringEmail:userVisiteur.user.email}]}">
                            {[{userVisiteur.user.email}]}</a></td>
                    <td>{[{userVisiteur.nbreVue}]}</td>
                    <td     ng-if="dureeTotalVisiteur[userVisiteur.user.id]!=undefined"
                            style="color: #1e90fe;"
                            ng-mouseover="hoverShowOptionDetails({userid: userVisiteur.user.id}, {contenuid: contenu.id}, {titre: contenu.titre}, {nom: userVisiteur.user.prenom+' '+userVisiteur.user.nom })">{[{dureeTotalVisiteur[userVisiteur.user.id]}]}</td>
                    <td     ng-if="dureeTotalVisiteur[userVisiteur.user.id]==undefined"
                            style="color: #1e90fe;">0</td>
                    <td><i ng-if="userVisiteur.review!=null">{[{'\"'+userVisiteur.review+'\"'}]}</i>
                        <i ng-if="userVisiteur.review==null"></i></td>

                    <td> <ng-rate-it
                                style="margin-top: 3px; margin-left: -1px; min-width: 90px"
                                read-only="true"
                                class="custom"
                                cancel-width="1"
                                cancel-height="1"
                                ng-model="userNote[userVisiteur.user.id]">
                        </ng-rate-it></td>
                </tr>

            </table>
            <div><i style="color: grey;">NB: La courbe se déssine lorsqu'il existe au moins de 2 décallages de date</i></div>
        </div>
        <div class="col-xl-1 col-lg-1 col-md-1"></div>
    </div>
</div>

    <div class="container">

        <div class="row questions" >
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2" ></div>
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 col-xs-12  panel poster question-manager" style="position: inherit">


                <table class="table" cellspacing="pixels" style=" overflow-y: auto; height: 100px;" >
                    <tr>
                        <td colspan="5">
                            <div style="font-size: 16pt">
                                {[{sousRubriqueData.length}]}
                                <span ng-if="sousRubriqueData.length>1">Cours</span>
                                <span ng-if="sousRubriqueData.length<=1">Cours</span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <th>Année</th>
                        <th>Section</th>
                        <th>Groupe</th>
                        <th>Supprimer</th>
                    </tr>
                    <tr ng-repeat="item in sousRubriqueData | start: (currentPage - 1) * pageSize | limitTo: pageSize">
                        <td>
                            <div>
                                  <a
                                      href='#!/mesCours/{[{item.email | substringEmail:item.email}]}/{[{sousRubriqueData.indexOf(item)}]}'
                                        style="text-decoration: none; font-size: 13pt;">
                                    {[{(item.titre | limitTo: 100) + (item.titre.length > 100 ? '...' : '')}]}
                                </a></div>
                            <div style="font-size: 9pt; color: grey;"><i>Publié le {[{item.datePublication | date:'dd MMM yyyy à HH:mm'}]}</i></div>
                        </td>
                        <td>{[{item.anneeLibelle}]}</td>
                        <td>{[{item.niveauLibelle}]} </td>
                        <td>{[{item.groupeLibelle}]}</td>
                        <td><i class="material-icons delete-data" uib-tooltip="Supprimer ce cours" ng-click="clickIconDeleteContenu(item.id)">delete</i></td>
                    </tr>
                    <tr><td colspan="3"><ul uib-pagination total-items="sousRubriqueData.length" items-per-page="pageSize" ng-model="currentPage" max-size="10"
                                            class="pagination-sm"></ul></td></tr>
                    <tr>
                        <td colspan="5">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg"
                                           placeholder="Trouvez les cours d'un autre enseignant en entrant son pseudo"
                                           ng-model="search.username"/>
                                    <span class="input-group-btn">
                       <a href="http://localhost:8000/dashboard#!/mesCours/{[{search.username}]}">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                                        </a>
                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 "></div>
        </div>
    </div>
</div>