<div class="container">

    <div class="row questions" >
        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2" ></div>
        <div class="col-xl-10 col-lg-10 col-md-8 col-sm-8 col-xs-12  panel poster question-manager" style="position: inherit">

            <table class="table" cellspacing="pixels" style=" overflow-y: auto; height: 100px;" >
                <tr >

                    <td colspan="5">
                        <div style="font-size: 16pt">
                            {[{questionsEtudiants.length}]}
                            <span ng-if="questionsEtudiants.length>1">Questions</span>
                            <span ng-if="questionsEtudiants.length<=1">Question</span>
                        </div>

                    </td>
                </tr>
                <tr >

                    <th>Question</th>
                    <th>Reponse</th>
                    <th>Auteur</th>
                    <th>Vu</th>
                    <th>Vote</th>
                </tr>
                <tr ng-repeat="questionsEtudiant in questionsEtudiants | start: (currentPage - 1) * pageSize | limitTo: pageSize">
                    <td>
                        <div><a target="_blank" style="text-decoration: none; font-size: 13pt;" href="http://localhost:8000/lectureContenu/{[{questionsEtudiant.contenuID}]}#!/questions/{[{questionsEtudiant.contenuID}]}">{[{questionsEtudiant.questionLibelle}]}</a></div>
                        <div style="font-size: 9pt; color: grey;"><span>Le {[{questionsEtudiant.questionDatePublication | date:'dd MMM yyyy à HH:mm'}]}, du contenu: </span><i>"{[{questionsEtudiant.contenuTitre}]}"</i></div>
                    </td>
                    <td style="text-align: center; font-size: 13pt"><span style="text-decoration: none; ">
                            <b ng-class="questionsEtudiant.nbreReponses==0 ? 'nbreReponsesRed' : 'nbreReponsesBlue'">{[{questionsEtudiant.nbreReponses}]}</b></span></td>
                    <td><a target="_blank" style="text-decoration: none;" href="http://localhost:8000/3il/{[{questionsEtudiant.auteurEmail | substringEmail:questionsEtudiant.auteurEmail}]}"> {[{questionsEtudiant.auteurPrenom}]} {[{questionsEtudiant.auteurNom}]}</a></td>
                    <td style="text-align: center; font-size: 13pt; border-bottom: none!important;"><b>{[{questionsEtudiant.questionNombreVu}]}</b></td>
                    <td style="text-align: center; font-size: 13pt"><b style="color: mediumseagreen;">{[{questionsEtudiant.questionNombreVu}]}</b></td>


                </tr>
                <tr><td colspan="5"><ul uib-pagination total-items="questionsEtudiants.length" items-per-page="pageSize" ng-model="currentPage" max-size="10"
                                        class="pagination-sm"></ul></td></tr>
               {# <tr >
                    Insérer les vus par étudiant au moment venu
                    <td colspan="5" style="background:ghostwhite;
    border-top: none">
                        <div class="panel" >

                        </div>
                    </td>
                </tr>#}

                <tr>
                    <td colspan="5">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input
                                        type="text" class="form-control input-lg" placeholder="Trouvez les questions d'un autre enseignant en entrant son pseudo (exemple: duvalet)"
                                        ng-model="search.username"/>
                                <span class="input-group-btn">
                                    <a href="http://localhost:8000/1/dashboard#!/gestionQuestions/{[{search.username}]}">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                                        </a>
                    </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


        </div>

        <div class="col-xl-1 col-lg-1 col-md-2 col-sm-3 "></div>
    </div>
</div>