.authentification{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    background-image: url('http://s32.postimg.org/i3mwrlz11/image_libre.jpg');
    background-attachment: fixed;
    background-size:100% auto;


}

.authentification header{
    font-family: Georgia;
    font-size: 110%;
    margin-left: 50px;
}

.authentification .jumbotron {


    color : white;
    margin-bottom: 0px;
    margin-top : 0px;

    font-family: Georgia;


}

.authentification .jumbotron #titreBienvenue {
    text-align: center;

}
.authentification .jumbotron #titreBienvenue h1 strong{
    font-size: 80%;

}


.authentification .jumbotron #titreBienvenue #sstitreBienveue{
    padding-right: 0%;
    font-size: 12pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.authentification  header{
    position: absolute;
    margin-top: 0px;
}

.authentification #logo{
     color: dodgerblue;
     font-size: 20pt;
 }


.authentification .navbar-inverse  {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/****************************  Authentification template  ****************************/

.authentification .card-container.card {
    max-width: 300px;
    padding:  10px;
    font-family: "Helvetica";

}

.authentification #inscription-pag{
    font-size: 13pt;
    color: whitesmoke;
}

.authentification .btn {
    font-weight: 700;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

/*
 * Card component
 */
.authentification .card {
    background-color: rgba(59, 59, 59, 0.39);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;


    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



/*
 * Form styles
 */
.authentification .profile-name-card {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;


}

.authentification .form-signin #inputEmail,
.authentification .form-signin #inputPassword,
.authentification .form-signin #inputPassword2{
    direction: ltr;
    height: 46px;
    font-size: 16px;
}

.authentification .form-signin input[type=email],
.authentification .form-signin input[type=password]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;


}
.authentification input::-webkit-input-placeholder { font-size: 11pt; color: #969696; }
.authentification input::-moz-placeholder { font-size: 11pt; color: #969696; }
.authentification input:-ms-input-placeholder { font-size: 11pt; color: #969696; }
.authentification input:-moz-placeholder { font-size: 11pt; color: #969696; }



.authentification .form-signin button {

    height:43px;

    margin-top: 10px;
    text-align: center;
    background-color: deepskyblue;
    border-color:deepskyblue;

}

.authentification .form-signin button:hover{
    background: dodgerblue;
    border-color:dodgerblue;
    color: whitesmoke;
}




