.rowLectureContenu .panel-heading,
.rowLectureContenu .panel{
    border: 1px solid rgba(99, 99, 99, 0.21) ;

}


.rowLectureContenu .panel-heading{
    text-align: center;
    font-weight:bold;
    height: 50px;
    line-height: 50px;
    font-family:"Helvetica Neue ", Helvetica, Arial, sans-serif;
    font-size: 15pt;
}


.btn-question{
    background-color: #e84e0f;
    float: right;
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;

}


.date-publication,
.question-page{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8pt;
    color: #5a6974;
}

.noborder a{
 text-decoration: none;
}

.noborder a:hover{
    color: #1e90fe;
    cursor: pointer;
}


.question-title{
    font-size: 15pt;
    color: #3c464d;
    font-weight: bold;

}
.question-explication{
    font-family:"Georgia", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    color: #414c54;
}
td img{

    height: 60px;
    display:block;
    margin:auto;
}

table{
    margin-top: 10px;
}

td{
    cursor: pointer;
}
.m-img-profil{
    width: 40px;
}


.date-publication img{
    height: 20px;

    margin:auto;
}

#titleHead
{
    position: absolute;
    margin-top: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: darkgrey;
    font-size:10pt;
    font-style: italic;
}


thead {
    padding:10px;

    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
th{
    font-weight: normal;
}


