

body{
    background-color: rgba(229, 229, 229, 0.27) !important;

}

main{
    font-family: Georgia;
    margin-left: 50px;
}

.navbar-inverse  {
    border-width: 0px;
    border-bottom: 1px solid lightgrey;
    color:blue;
    background-color: white;

    /*
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0, 0, 0, 0.41)),color-stop( 100% , rgba(0, 0, 0, 0.76)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.72) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%, rgba(0, 0, 0, 0.03) 100%);
    */

}



.card-container.card {
    max-width: 800px;
    padding:  10px;
    font-family: "Helvetica";
    margin : auto;
    margin-top: 50px;
}


.card {
    background-color: rgba(0, 0, 0, 0);

    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: auto;
    margin-top: -10px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
    margin-left: 111px;
}

.jumbotron {
    background-color: rgba(110, 191, 253, 0);

}

header{
    margin-top: -50px;
}

textarea{
    padding: 5px;
    resize: vertical;
}

#text-Ed{
    width: 580px;
    border-color: rgba(149, 149, 149, 0.72);
    margin-bottom: -10px;
    font-family:"Helvetica Neue";
    font-size: 15pt;
    font-weight:bold;
    color: #2a3136;
    background-color: #C9C9C9;
    resize: none;

}

.small-Ed2{
    float: right;
    margin-right: 25px;

}

#card-Ed{
    margin-top:  -10px;
}

#table-Ed{
    border: 10px solid yellowgreen;
}

#btn-Ed2{
    width:100%;

    height: 46px;

    font-size: 12pt;
    background: #e84e0f;
    border-color:#e84e0f;

    margin-top: 7px;
    border-radius: 5px;
}

#btn-Ed2:hover{
    background: #ff5611;
    border-color: #ff5611;
    color: whitesmoke;

}

#btn-Ed3{
    width:85px;
    margin-left:430px;
    height: 36px;
    float: right;
    font-size: 12pt;
}

#commentairePour{
    border-left-color: #00bfff;
}
#commentaireContre{
    border-left-color: palevioletred;
}
#commentaireNeutre{
    border-left-color: grey;
}

/*  --------------------------- ***       Drag and Drop      *** ---------------------------  */


.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-zone {
    background-color: rgba(128, 128, 128, 0.15);
    border: 3px dashed darkgray;
    border-radius: 5px;
    padding: 20px;

}

.img-zone h2 {
    margin-top: 0;
    height: 20px;

}

.progress, #img-preview {
    margin-top: 15px;
}

#btn-Ed{
    background-color: grey;
    border: none;
}

/***            Vote            ***/





.vote_bar{

    width: 100px;
    height: 4px;
    background-color:indianred;

}

.vote_progress{
    width : 100%;
    height: 4px;
    background-color: deepskyblue;
    transition : width 0.3s;
}

.vote_btns{
    margin-top:10px;
    color: #434d56;

}

.vote_btn{
    border:none;
    padding: 0;
    display: inline-block;
    margin: 0 0 0 10px;
    cursor: pointer;
    background: transparent;
    transition: color 0.5s;
}

.vote_like:hover, .is-liked .vote_like{
    color:deepskyblue;
}

.vote_dislike:hover, .is-disliked .vote_dislike{
    color:indianred;
}

#label-post{
    margin-top: 20px;
    height: 460px;
    margin-top: 50px;
    position: absolute;
}

#table-post{
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
    margin-left: -10px;
    position: absolute;
}


#td1{
    padding: 0 0 0 0;
    margin-top: 10px;
    margin-right: -305px;
    float: right;
}
#td2{
    padding: 0;

    float: right;
    margin-top: 95px;
    margin-right: -305px;
}
#td3{
    padding: 0;
    margin-right: -305px;
    float: right;
    margin-top: 210px;

}

#td4{
    padding: 0;
    margin-right: -1190px;
    float: right;
    margin-top: -200px;

}
/*    Mise en forme   */
span.cke_skin_kama
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid #D3D3D3;
    padding: 5px !important;
}



#count-char{

    margin-top: -20px;
    margin-left: 540px;

}

#img-pensee{
    max-width:100%;
    max-height:100%;

}

.check-btn-commentaire,
.is-checked,
.check-btn-contribution{
    display: inline-block;
    margin-right: 25px;
    top: 15px;
    margin-bottom: -55px;
    cursor: pointer;
    transition: color 0.3s;
    color: #434d56;
    margin-left: 10px;


}

#check-count{
    text-align: center;
}

.check-btn-contribution:hover, .is-checked{
    color: #43cd7c;

}
.check-btn-commentaire:hover, .is-checked{
    color: #43cd7c;

}
/**          *** Pour photo upload ***           **/

.head {
    font-size: 16px;
    font-weight: 200;
    margin-top: -115px;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
    background: transparent;
    border: solid 1px #27a9e0;
    border-radius: 3px;
    color: #27a9e0;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none !important;
    padding: 10px 20px;

}

.fileUpload {
    overflow: hidden;
    height: 43px;
    margin-top: 0;
}

.fileUpload input.uploadlogo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;

    width: 100%;
    height: 42px;
}


/*Chrome fix*/

input::-webkit-file-upload-button {
    cursor: pointer !important;
}

.header-text{
    color: dimgrey !important;
    margin-top: 5px;
}
.header-text:hover{
    color: #1e90fe !important;
    font-weight: bold;
}

.table{
    background-color: white !important;

    margin-bottom: 70px;
}

#count-char{
    font-weight: bold;
    color : darkslategrey;
}

textarea:focus, input:focus{
    outline: none;
}

.fileUpload{
    border: none;
}

.fileUpload:hover{
    border: none;
}

#text-Ed2{
    width: 580px;
    border: dashed rgba(149, 149, 149, 0.72);
}

.titre-pensee{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 15pt;
    font-weight:bold;
    color: #22282c;
    margin-top: 20px;
}

.pensee-libelle p{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 11pt !important;
    color: #2a3136;
    font-weight: 400;
}

.pensee-libelle{
    margin-bottom: -55px;
}

small{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 8pt !important;
    color: #47535b;
}

.box-contribution{
    display: flex;
}

.contribution-libelle p{
    margin-right: 30px;
    font-family:"Helvetica Neue", sans-serif;
    font-size: 11pt !important;
    color: #2a3136;
    font-weight: 400;
}

.btn-contribution{
    float: right;
    border: none;
    height: 25px !important;
}


#libelle{
    width:89%;
    border-color: silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 10pt;

}


.btn-comment{
    float:right;
    margin-top: -32px;
    margin-right: -15px;
    border: none;
    height: 28px;
    text-align: center;
    padding: 0px !important;
}

.td-comment{
    background-color: rgba(213, 213, 213, 0.74);

}

.libelle-commentaire p{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 10pt !important;
    color: #2a3136;
    font-weight: 400;
}

.ta-comment textarea{
    width: 80% !important;
    margin-left: -1px !important;
    border: none;
}

.morectnt span {
    display: none;
}

.nbre-contribution{
    display: inline-block;
}


.ouinon{
    font-weight:bold;
    font-family: "Arial Black", sans-serif;
    font-size: 14pt;
}


.pensee58{
    visibility: hidden;
    display: none;
}




#note{
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
    font-size: 10pt;
    width: 260px;

}


/*Readmore*/
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

/*Center navbar*/
#top-nav {

    position: absolute;
    left: 50%;
}

/*Notifications System*/

body {
    background-color: lightgray;
}
#nav {
    list-style:none;
    margin: 0px;
    padding: 0px;
}
#nav > li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    font-weight:bold;
}
#nav li a {
    color:#333333;
    text-decoration:none
}
#nav li a:hover {
    color:#006699;
    text-decoration:none
}
#notification_li {
    position:relative
}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 65px;
    margin-left: -300px;
    width: 400px;
    z-index: 1;
    display: none;
}
.navbar-collapse.in {
    overflow-y: inherit;
}
#notificationContainer:before {
    content:'';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #e9eaed;
    margin-top: -20px;
    margin-left: 315px;
}
#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #e9eaed;
    text-align: center;
    z-index: 1000;
    color: rgba(0, 0, 0, 0.83);
    width: 398px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {

    min-height:300px;
    height: auto;
    max-height: 500px;
    color: rgba(0, 0, 0, 0.83);
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: 10px;
    font-size: 11px;
    z-index: 5;
}
div.scroll {
    width: 398px;
    height: 0px;
    overflow: scroll;
}

.notifications-li{
    background-color: rgba(0, 0, 0, 0.04);
}

.notifications-li{

    background-color: rgba(0, 0, 0, 0.04);
}

.notifications .nav li{
    border : 1px solid white;
    border-bottom-color: #d5d5d5;

}

.notif-link,
.notif-link-footer{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 10pt !important;
    color: #2a3136;
    font-weight: 400;

}

.notif-link-footer{
    color: darkgray;
}


.notif-symbolc,
.notif-symbolq,
.notif-symbolr,
.notif-symbolp,
.notif-symbols{
    height: 50px;
    width: 70px;
    text-align : center;
    margin-left: -10px;
    font-family:"Cooper Black", sans-serif;
    font-size: 20pt !important;

}
.notif-symbolr{
    color: dodgerblue;

}
.notif-symbolq{
    color: limegreen;
}
.notif-symbolc{
    color: orange;
}
.notif-symbolp{
    color: green;
}
.notif-symbols{
    color: orangered;
}


.notif-content{
    width:430px;
}

.notif-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif-date{
    font-family:"Helvetica Neue", sans-serif;
    font-size: 8pt !important;
    color: #5c6b76;
}

.no-notif1,
.no-notif2{
    color: grey;
    margin-top: 40px;
    text-align: center;
}
.no-notif2{
    font-size: 20pt !important;
}

/*pagination*/

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #1e90fe;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


main{
    margin-top: 45px;
    margin-left: 0px;
    margin-right: 0px;
}

/* 3iSchool */

.left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: white;
    border: 1px solid lightgrey;
}

.left ul li a {
    display: block;
    color : #6b6b6b;
    padding: 8px 16px;
    text-decoration: none;
}

.left ul li a.active {

    background-color: #c4c4c4;
    color: white;
    cursor: pointer;
}

.left ul li a:hover:not(.active) {
    background-color: #c4c4c4;
    color: white;
    cursor: pointer;
}





.courses{
    margin-top: 20px !important;
    border: 1px solid rgba(220, 220, 220, 0.21);
    border-radius: 3px;
    max-width: 440px !important;
}
.courses-wrapper{
    margin-top: 20px !important;
    /*
        border-radius: 3px;*/
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin-left: -50px;

}
.aside-menu-head,
.side-menu-head{
    font-size: 15pt;
    font-weight: 900;
    color: #3d3d3d;
    margin-left: 10px;

}


.side-menu-image{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.aside-menu-head{
    padding-left: 10px;
}

.prof-image{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.col-md-3{

}

.right{

}

.img-wrapper{
    border: 1px solid rgba(99, 99, 99, 0.21) ;
    border-radius: 3px;
    border-bottom: none !important;
    height: 200px;
}



.caption-wrapper{
    color: #4b4b4b;
    margin-top: -1px;
    border: 1px solid rgba(99, 99, 99, 0.21) ;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 5px 5px 5px 5px !important;

    background-color: ghostwhite;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 0px rgba(64, 112, 157, 0.46);
}




.course-pointer{
    cursor: pointer;

}

.title-course{
    font-weight: 900;
    height: 40px;
}

.caption-item-content{
    display: flex;
    justify-content:space-between;
}


.material-icons.md-18 {
    font-size: 16px;
    color: #e84e0f;
}

.material-off{
    color: rgba(92, 107, 118, 0.66) !important;
}


.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}

/**/



html,body,.container {
    height:100%;
}


body>.container-fluid,
.container {
    height:100%;
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}


.rowLectureContenu {
    height: 100%;
    display: table-row;

}

.rowLectureContenu .no-float {
    display: table-cell;
    float: none;
    vertical-align:top;
}
.panel.noborder {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: 1px solid #dddddd;
    border-radius: 0;
}

.surbrillanceRecherche{
    background-color: #e84e0f;
}

.preloader {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}



.msg-preloader {
    position: absolute;
    margin: auto;

    width: 300px;
    height: 191px;

    top: 0px;
    left: 30px;
    bottom: 0px;
    right: 0px;
    color: white;
}

.msg-preloader h3 {
    position: absolute;
    left: 30px;
    width: 240px;
    text-align: center;
}

.msg-preloader img {
    position: absolute;
    width: 70px;
    height: 70px;
    border: none !important;
    left: 95px;
    top: 95px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.mceEditor > table {
    height:700px !important;
}

.image {
    position:relative;

}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;

    font-size: 10pt;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

.delete-data,
.edit-data{
    cursor: pointer;
}

.delete-data:hover{
    color: indianred;
}

.edit-data:hover{
    color: cornflowerblue;
}

.myIframe {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    border: none;
}

.container-img
{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.container-img:before
{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;

}

.content-img
{
    display: inline-block;
    vertical-align: middle;
    height: 200px;
}

